.Welcome {
  display: flex;
  flex-direction: column;
}

.Welcome__title {
  font-size: 1.6rem;
  font-weight: 500;
}

.Welcome-description {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.Welcome-cancel {
  margin-left: auto;
}